<!DOCTYPE html>
<html>
<head>
  <title>Page Not Found</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Error 404: Page Not Found</h1>
        <p class="lead">We're sorry, the page you're looking for doesn't exist.</p>
        <hr class="my-4">
        <p>Please, check the URL input and make sure it is spelt correctly or click on the button below to go back to home page or previous page visited.</p>
        <div style='margin-left:.100rem;'>
            <button type="button" class="btn btn-primary" onclick="history.back()">Home/Previous Page</button>
        </div>
    </div>
</body>
</html> 


