<!DOCTYPE html>
<html>
<head>
  <title>Internet Server Error</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Error 500: Internet Server Error</h1>
        <p class="lead">Oh! Sorry, there is a internet server problem at the moment.</p>
        <hr class="my-4">
        <p>Kindly log in after some hours as maintenance is currently in progress</p>
    </div>
</body>
</html> 