{% extends 'main.html' %}

{% block title %}Search result{% endblock %}

{% block content %}
    <h3>Results for '{{ search_query }}' :</h3>

    {% if products %}
        {% for product in products %}
            <div class="card text-bg-dark mb-3" style="width: 18rem;">
                {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt=" {{product.title}} image">
                {% endif %}

                <div class="card-body">
                    <a href ="{% url 'product_details' product.category.slug product.slug %}">
                        <h5 class="card-title">{{product.title}}</h5>
                    </a>
                    <p class="card-text">£ {{product.price}}</p><p class="card-text">{{product.description}}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>
            No matching products!
        </p>
    {% endif %}

{% endblock %}